<%- include("partials/header.ejs") %>

    <div class="bg-image bg-image-1">

        <header>
            <h1>Sumeet Bhagat</h1>
        </header>

        <hr>

        <div class="box">
            <h1>CONTACT ME:</h1>
            <p>Tel: 900424678</p>
            <p>Address:</p>
            <p>
                RJMDS,<br>
                Mahakali Road,<br>
                Kurla(W),<br>
                Armsterdam.<br>
            </p>
        </div>

        <hr>

        <footer>
            <a href="/"><h4>HOME PAGE</h4></a>
        </footer>
    </div>
    </body>

    </html>