<!DOCTYPE html>
<html id="contact" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <header>
        <h1>Sumeet Bhagat</h1>
    </header>

    <hr> 
    
    <div class="box">
        <h1>CONTACT ME:</h1>
        <p>Tel: 900424678</p>
        <p>Address:</p>
        <p>
            RJMDS,<br>
            Mahakali Road,<br>
            Kurla(W),<br>
            Armsterdam.<br>
        </p>
    </div>
    
    <hr>

    <div class="promo">
        <iframe src="https://www.youtube.com/watch?v=hOHKltAiKXQ&list=RDhOHKltAiKXQ&start_radio=1" frameborder="0">Big Dwarf</iframe>
    </div>
    
    <footer>
        <a href="./index.html">HOME PAGE</a>
    </footer>
</body>
</html>