<%- include("partials/header.ejs") %>
<div class="bg-image bg-image-1">

    <header>
        <h1>Sumeet Bhagat</h1>
    </header>
    
    <hr>

    <main>
        <div class="box">
            <h1>Hobbies:</h1>
            <ul>
                <li>Reading</li>
                <li>Drawing</li>
                <li>Journaling</li>
                <li>Writing</li>
            </ul>
        </div>
    </main>
    
    <hr>

    <footer>
        <a href="/"><h4>HOME PAGE</h4></a>
        <a href="/contact"><h4>CONTACT</h4></a>

    </footer>
</div>
</body>
</html>