<!DOCTYPE html>
<html id="hobby" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>Sumeet Bhagat</h1>
    </header>
    
    <hr>

    <main>
        <div class="box">
            <h1>Hobbies:</h1>
            <ul>
                <li>Reading</li>
                <li>Drawing</li>
                <li>Journaling</li>
                <li>Writing</li>
            </ul>
        </div>
    </main>
    
    <hr>

    <footer>
        <a href="./index.html">HOME PAGE</a>
    </footer>
</body>
</html>