#home {
    background-color: bisque;
}

#hobby {
    background-color:beige;
}

#contact {
    background-color: azure;
}

header {
    text-align: center;
}

img[src] {
    width: 50%;
    align-items: center;
    margin-left: 25%;
    border-radius: 50%;
    zoom: 50%;
}

.credit {
    text-align: center;
}

.favorite, .dream, .box {
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

h3, .favorite > p, .dream >p, .box > h1, .box > p {
    margin: 10px;
}

.promo iframe{
    border-radius: 30px;
    width: 50%;
    margin-left: 25%;
}

footer {
    text-align: center;
}

.skill {
    display: inline-block;
    width: 54%;
}

.ed {
    display: inline-block;
    width: 40%;
    
}

h1,h2,h3, p  {
    color: aliceblue;
}

body {
    background-image: url("./images/portfolio_bg_1.jpg"); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}